streamlit
pandas
numpy
matplotlib
scikit-learn
pydotplus
graphviz
seaborn
plotly
openpyxl
xlrd
pyarrow
fastparquet
xgboost
lightgbm
imbalanced-learn
gunicorn
flask
fastapi
statsmodels
shap
joblib
pycaret
